.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 60px;
    background-image: url("https://wallpapers.com/images/hd/real-estate-digital-art-0kmi22tcj2x60lim.jpg");
    background-size: cover;
}

.card{
    padding: 20px;
    background-color: aliceblue;
    text-align: left;

}

.card-head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.location{
    margin-bottom: 10px;
}