.register-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto ;
  width: 35%;
  gap: 20px;
  margin-top: 50px;
  

}
/* body{
  background-image: url("https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2018/11/05/Photos/Processed/realestate-kCVB--621x414@LiveMint.jpg");
  background-image: url("https://images.livemint.com/rf/Image-621x414/LiveMint/Period2/2018/11/05/Photos/Processed/realestate-kCVB--621x414@LiveMint.jpg");
  background-repeat: no-repeat;
 
    display: flex;
     height: 100vh; 
     width: 100%;
     
   
  
  
} */

.login-container{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.login-img{
  width: 85%;
  margin: auto;
  margin-left: 30px;
}

.register{
  text-align: center;
}

.link{
  color: blue;

}

@media screen and (max-width : 520px){
  .register-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto ;
    width: 80%;
    gap: 20px;
    margin-top: 50px;
    
  }

}

@media screen and (min-width : 520px){
  .register-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto ;
    width: 50%;
    gap: 20px;
    margin-top: 50px;
   
  }

}





@media all and (min-width : 756px){
  .register-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto ;
    width: 35%;
    gap: 20px;
    margin-top: 50px;
  }

}





